@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-nearBlack;
    background-color: #FAF7F1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
